<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Contact Us</title>

    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div class="nav-bar">
        <ul class="NavBar">
            <li class="Nav-item"><a href="/Views/index.html">Home</a></li>
            <li class="Nav-item"><a href="/Views/specials.html">Specials</a></li>
            <li class="Nav-item"><a href="/Views/feedback.html">Feedback</a></li>
            <li class="Nav-item"><a href="/Views/about.html">About</a></li>
            <li class="Nav-item"><a href="/Views/chat.html">Live Chat</a></li>
            <li class="Nav-item is-current"><a href="/Views/contact.html">Contact Us</a></li>
        </ul>
    </div>
</div>
</body>
</html>
